src/main/mule/processed_contracts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fetch_data" doc:id="144d4051-889d-4f1b-92c9-47e49c66419f" >
		<http:request method="GET" doc:name="Request" doc:id="fef37f4d-830d-4d11-9145-a4bd43ca9f79" config-ref="HTTP_Request_configuration" path="/contracts"/>
	</flow>
	<flow name="process_data" doc:id="d4871ea0-c281-41fc-a717-17508cb3f92d" >
		<ee:transform doc:name="attributes to JSON" doc:id="e433878e-4990-41e7-8bee-7278a7e6017d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="attributes"><![CDATA[%dw 2.0
output application/json
---
attributes]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="fetch_data_mock" doc:id="08a20edd-7402-494f-8ce4-a54adeecbf02" name="fetch_data_mock"/>
		<ee:transform doc:name="prepare data" doc:id="6f719e46-4671-4589-aed8-59a827bd96de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (value, index) -> {
	id: (value.Contract_ID as Number default 0),
	amount: (value.Amount as Number default 0),
	end_Date: value.End_Date as Date {format: "dd-MM-yyyy"},
	start_Date: value.Start_Date as Date {format: "dd-MM-yyyy"},
	value: value
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="filter pair impair" doc:id="757799f1-2b91-4968-82b4-f2af83874fc7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{	 
	contracts: (if ((vars.attributes.queryParams.isPair default true) as Boolean == true) 
		payload filter ((value, index) -> ((value.id mod 2) == 0))
	else 
		payload filter ((value, index) -> ((value.id mod 2) != 0)))
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Group by id" doc:id="5f6faab1-14dc-433c-b24d-c8077708dfd5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
// on groupe les contrats, on les assemble et on les mets dans un array (pluck))
((payload.contracts groupBy ((contract, index) -> contract.id) ) 
  mapObject ((contractsGrouped, key, index) -> {(key):  {
  	id:key,
    "start_Date": lookup("getFirstDateOfContracts", {contracts: contractsGrouped}) as Date {format: "dd-MM-yyyy"},
    "end_Date": lookup("getLastDateOfContracts", {contracts: contractsGrouped}) as Date {format: "dd-MM-yyyy"},
    "amount": lookup("calculTotalAmountOfContracts", {contracts: contractsGrouped}) as Number default 0,
    "contracts": contractsGrouped,
  }
}) pluck $)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="calcul total" doc:id="d98ff749-2d77-4894-aa45-f37c890d2efa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
total: {
		data: (payload map (value, index) -> {
			amountByMonth @(
				amountTotal: value.amount,
				months: (daysBetween(value.start_Date as Date {format: "dd-MM-yyyy"}, value.end_Date as Date {format: "dd-MM-yyyy"}) / 30)
			): ((value.amount as Number default 0)
				/ (daysBetween(value.start_Date as Date {format: "dd-MM-yyyy"}, value.end_Date as Date {format: "dd-MM-yyyy"}) / 30)),
			id @(contracts: sizeOf(value.contracts)): value.id,
	})
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="966b30f3-8526-41c9-9d42-d2e6116a7e1d" message="#[payload]"/>
	</flow>
	<flow name="fetch_data_mock" doc:id="60a12e6a-b6cc-41da-86d9-1ae466d8903e" >
		<ee:transform doc:name="Transform Message" doc:id="d11bfd58-f861-4d9a-aeb0-cc2656272ef2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

[
  {
    "Contract_ID": "10",
    "Creation_Date": "21-02-2019",
    "Start_Date": "30-04-2018",
    "End_Date": "30-04-2019",
    "Customer_ID": "301207461",
    "Salesman_ID": "800023000126",
    "SalesUnit_ID": "21M233COPL-EVFR-01",
    "Amount": "23250.000000",
    "Contract_Name": "",
    "Currency_Code": "EUR",
    "Renew": "",
    "Customer_Name": "",
    "Salesman_Name": "",
    "SalesUnit_Name": "",
    "Number_Of_Months": 12.03,
    "Opportunity_ID": null,
    "CUTOFF_MONTH": "01-04-2018",
    "CUTOFF_AMOUNT": 64.4
  },
  {
    "Contract_ID": "10",
    "Creation_Date": "21-02-2019",
    "Start_Date": "30-04-2018",
    "End_Date": "30-04-2019",
    "Customer_ID": "301207461",
    "Salesman_ID": "80020000126",
    "SalesUnit_ID": "21M123COPL-EVFR-01",
    "Amount": "23050.000000",
    "Contract_Name": "",
    "Currency_Code": "EUR",
    "Renew": "",
    "Customer_Name": "",
    "Salesman_Name": "",
    "SalesUnit_Name": "",
    "Number_Of_Months": 12.03,
    "Opportunity_ID": null,
    "CUTOFF_MONTH": "01-05-2018",
    "CUTOFF_AMOUNT": 1932.13
  },
  {
    "Contract_ID": "33",
    "Creation_Date": "21-02-2019",
    "Start_Date": "30-04-2018",
    "End_Date": "30-04-2019",
    "Customer_ID": "30307461",
    "Salesman_ID": "800230000126",
    "SalesUnit_ID": "21M12COPL-EVFR-01",
    "Amount": "23250.000000",
    "Contract_Name": "",
    "Currency_Code": "EUR",
    "Renew": "",
    "Customer_Name": "",
    "Salesman_Name": "",
    "SalesUnit_Name": "",
    "Number_Of_Months": 12.03,
    "Opportunity_ID": null,
    "CUTOFF_MONTH": "01-06-2018",
    "CUTOFF_AMOUNT": 1932.13
  },
  {
    "Contract_ID": "-2",
    "Creation_Date": "21-02-2019",
    "Start_Date": "30-04-2018",
    "End_Date": "30-04-2019",
    "Customer_ID": "300327461",
    "Salesman_ID": "800022000126",
    "SalesUnit_ID": "21MC12OPL-EVFR-01",
    "Amount": "20250.000000",
    "Contract_Name": "",
    "Currency_Code": "EUR",
    "Renew": "",
    "Customer_Name": "",
    "Salesman_Name": "",
    "SalesUnit_Name": "",
    "Number_Of_Months": 12.03,
    "Opportunity_ID": null,
    "CUTOFF_MONTH": "01-07-2018",
    "CUTOFF_AMOUNT": 1932.13
  },
  {
    "Contract_ID": "",
    "Creation_Date": "21-02-2019",
    "Start_Date": "30-04-2018",
    "End_Date": "30-04-2019",
    "Customer_ID": "30027461",
    "Salesman_ID": "80001000126",
    "SalesUnit_ID": "21MC21OPL-EVFR-01",
    "Amount": "18250.000000",
    "Contract_Name": "",
    "Currency_Code": "EUR",
    "Renew": "",
    "Customer_Name": "",
    "Salesman_Name": "",
    "SalesUnit_Name": "",
    "Number_Of_Months": 12.03,
    "Opportunity_ID": null,
    "CUTOFF_MONTH": "01-08-2018",
    "CUTOFF_AMOUNT": 1932.13
  },
  {
    "Contract_ID": "2",
    "Creation_Date": "21-02-2019",
    "Start_Date": "30-04-2018",
    "End_Date": "30-04-2019",
    "Customer_ID": "300227461",
    "Salesman_ID": "800120000126",
    "SalesUnit_ID": "21MCOPL-EVFR-01",
    "Amount": "19900.000000",
    "Contract_Name": "",
    "Currency_Code": "EUR",
    "Renew": "",
    "Customer_Name": "",
    "Salesman_Name": "",
    "SalesUnit_Name": "",
    "Number_Of_Months": 12.03,
    "Opportunity_ID": null,
    "CUTOFF_MONTH": "01-09-2018",
    "CUTOFF_AMOUNT": 1932.13
  },
  {
    "Contract_ID": "118",
    "Creation_Date": "21-02-2019",
    "Start_Date": "30-04-2018",
    "End_Date": "30-04-2019",
    "Customer_ID": "3007461",
    "Salesman_ID": "80000200126",
    "SalesUnit_ID": "21MC12PL-EVFR-01",
    "Amount": "33000.000000",
    "Contract_Name": "",
    "Currency_Code": "EUR",
    "Renew": "",
    "Customer_Name": "",
    "Salesman_Name": "",
    "SalesUnit_Name": "",
    "Number_Of_Months": 12.03,
    "Opportunity_ID": null,
    "CUTOFF_MONTH": "01-10-2018",
    "CUTOFF_AMOUNT": 1932.13
  },
  {
    "Contract_ID": "118",
    "Creation_Date": "21-02-2019",
    "Start_Date": "30-04-2018",
    "End_Date": "30-04-2019",
    "Customer_ID": "30071461",
    "Salesman_ID": "800021000126",
    "SalesUnit_ID": "21M21COPL-EVFR-01",
    "Amount": "50250.000000",
    "Contract_Name": "",
    "Currency_Code": "EUR",
    "Renew": "",
    "Customer_Name": "",
    "Salesman_Name": "",
    "SalesUnit_Name": "",
    "Number_Of_Months": 12.03,
    "Opportunity_ID": null,
    "CUTOFF_MONTH": "01-11-2018",
    "CUTOFF_AMOUNT": 1932.13
  },
  {
    "Contract_ID": "121",
    "Creation_Date": "21-02-2019",
    "Start_Date": "30-04-2018",
    "End_Date": "30-04-2019",
    "Customer_ID": "3007461",
    "Salesman_ID": "800120000126",
    "SalesUnit_ID": "21MC2OPL-EVFR-01",
    "Amount": "13250.000000",
    "Contract_Name": "",
    "Currency_Code": "EUR",
    "Renew": "",
    "Customer_Name": "",
    "Salesman_Name": "",
    "SalesUnit_Name": "",
    "Number_Of_Months": 12.03,
    "Opportunity_ID": null,
    "CUTOFF_MONTH": "01-12-2018",
    "CUTOFF_AMOUNT": 1932.13
  },
  {
    "Contract_ID": "122",
    "Creation_Date": "21-02-2019",
    "Start_Date": "30-04-2018",
    "End_Date": "30-04-2019",
    "Customer_ID": "3007461",
    "Salesman_ID": "800012000126",
    "SalesUnit_ID": "21MCO2PL-EVFR-01",
    "Amount": "43250.000000",
    "Contract_Name": "",
    "Currency_Code": "EUR",
    "Renew": "",
    "Customer_Name": "",
    "Salesman_Name": "",
    "SalesUnit_Name": "",
    "Number_Of_Months": 12.03,
    "Opportunity_ID": null,
    "CUTOFF_MONTH": "01-01-2019",
    "CUTOFF_AMOUNT": 1932.13
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="64808267-98b6-45cc-9f01-183cc5b50098" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
<total>
  <data>
    <amountByMonth amountTotal="46300" months="12.166666666666666">3805.479452054795</amountByMonth>
    <id contracts="2">10</id>
  </data>
  <data>
    <amountByMonth amountTotal="20250" months="12.166666666666666">1664.3835616438357</amountByMonth>
    <id contracts="1">-2</id>
  </data>
  <data>
    <amountByMonth amountTotal="18250" months="12.166666666666666">1500</amountByMonth>
    <id contracts="1">0</id>
  </data>
  <data>
    <amountByMonth amountTotal="19900" months="12.166666666666666">1635.6164383561645</amountByMonth>
    <id contracts="1">2</id>
  </data>
  <data>
    <amountByMonth amountTotal="83250" months="12.166666666666666">6842.465753424658</amountByMonth>
    <id contracts="2">118</id>
  </data>
  <data>
    <amountByMonth amountTotal="43250" months="12.166666666666666">3554.7945205479455</amountByMonth>
    <id contracts="1">122</id>
  </data>
</total>]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
